@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for better UX */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #475569; /* Slate-600 */
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #0f172a; /* Slate-900 */
}
